* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
body {
    max-width: 1200px;
    margin: auto;
    font-size: 15px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}
img {
    max-width: 100%;
    width: 100%;
}
ul {
    list-style-type: none;
}
p {
    line-height: 1.8;
    color: var(--dark-grayish-blue);
}
header nav #menu-close {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    z-index: 999;
    cursor: pointer;
}
header nav {
    opacity: 0;
    z-index: -999;
    transition: all 0.3s ease-in-out;
}
header nav.open {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75vw;
    background-color: white;
    padding: 1.25rem;
    opacity: 1;
    z-index: 999;
}
header nav ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header nav ul li {
    margin: 1.5rem 0;
    font-size: 16px;
    cursor: pointer;
}
header nav ul li:hover {
    color: var(--soft-red);
}
header .menu-button button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.mainpage {
    padding: 1.25rem;
    padding-top: 0;
}
.mainpage h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--Very-dark-blue);
    margin: 1rem 0;
}
.mainpage div:first-child article p {
    margin-bottom: 1rem;
}
.mainpage div:first-child article button {
    background-color: var(--soft-red);
    color: var(--off-white);
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 0.3s ease-in-out;
}
.mainpage div:first-child article button:hover {
    background-color: var(--Very-dark-blue);
    cursor: pointer;
}
.mainpage > div:last-child {
    background-color: var(--Very-dark-blue);
    margin-top: 2rem;
    padding: 1.25rem 1.25rem 0;
}
.mainpage > div:last-child h2 {
    color: var(--soft-orange);
}
.mainpage > div:last-child article {
    padding: 1.25rem 0;
}
.mainpage > div:last-child article:not(:last-child) {
    border-bottom: 1px solid var(--dark-grayish-blue);
}
.mainpage > div:last-child h3 {
    color: var(--off-white);
    margin-bottom: 0.5rem;
}
.mainpage > div:last-child h3:hover {
    color: var(--soft-orange);
    cursor: pointer;
}
.cards {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
}
.cards article {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.cards article img {
    width: 150px;
}
.cards article span {
    color: var(--dark-grayish-blue);
    font-weight: bold;
    font-size: 2rem;
    opacity: 75%;
}
.cards article h4 {
    font-size: 1.25rem;
    color: var(--Very-dark-blue);
    margin: 1rem 0;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 2rem 1.25rem;
    }
    header nav {
        opacity: 1;
        z-index: auto;
        width: 100%;
    }
    header nav.open {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        background-color: transparent;
        padding: 0;
        z-index: auto;
    }
    header nav #menu-close {
        display: none;
    }
    header nav ul {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
        transform: translateY(0%);
    }
    header nav ul li {
        margin: 0;
    }
    header .menu-button button {
        display: none;
    }
    .mainpage {
        display: flex;
        gap: 2rem;
    }
    .mainpage h1 {
        font-size: 3rem;
    }
    .mainpage > div:first-child article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        place-items: center;
        margin-top: 2rem;
    }
    .mainpage > div:last-child {
        margin-top: 0;
    }
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
